/* Utilities*/
/* paleta de colores (claro) #F1F1E6 (lavanda) #B3BFDF  (dorado) #D8A31A */
/* Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4rem; }

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem; }

p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem; }

/* Components */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  background-color: #1e1d1d;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.456);
  transition: all 300ms;
  /** animacion en la barra de navegacion **/ }
  .header .logo {
    display: flex;
    align-items: center;
    -webkit-animation: scale-in-ver-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .header .logo img {
      height: 3.375rem;
      margin-right: 10px; }
  .header .navbar {
    display: flex;
    align-items: center; }
    .header .navbar ul {
      list-style-type: none;
      -webkit-animation: scale-in-ver-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: scale-in-ver-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      .header .navbar ul li {
        display: flex;
        display: inline-block;
        margin-left: 10px; }
        .header .navbar ul li a {
          font-family: "Barlow Condensed", sans-serif;
          font-weight: 200;
          font-style: normal;
          font-size: 1.5rem;
          color: white;
          text-decoration: none;
          padding: 30px;
          text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
          transition: transform 0.3s ease; }
        .header .navbar ul li:hover {
          transform: scale(1.2);
          /* Agrandar el texto al pasar el puntero */ }

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; } }

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; } }

/* aca se oculta el menu desplegable del desktop */
/* img del menu */
/* Layout */
.principal {
  width: 100%;
  height: 100vh; }
  .principal .home {
    height: 60rem;
    background-image: url(../assets/img/fondo_home.jpg);
    background-size: cover; }
    .principal .home .texto-home {
      margin-left: 2rem;
      padding-top: 25%; }
      .principal .home .texto-home h1 {
        text-align: left;
        color: #1d1515;
        -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }
  .principal .about {
    height: 58rem;
    display: flex;
    justify-content: space-between;
    background-color: #201c1c; }
    .principal .about .about-text {
      width: 60%;
      padding-top: 5rem;
      margin: 2rem; }
      .principal .about .about-text h1 {
        color: #f7ecec; }
      .principal .about .about-text p {
        color: #f7ecec;
        padding-top: 2rem; }
      .principal .about .about-text .items {
        padding-top: 5rem;
        margin: 5rem; }
        .principal .about .about-text .items img {
          width: 2.5rem; }
        .principal .about .about-text .items h2 {
          color: #9d4e4e; }
        .principal .about .about-text .items p {
          padding-top: 0; }
    .principal .about .about-img {
      width: 40%;
      margin: 5rem; }
      .principal .about .about-img .perfil {
        padding-top: 5rem;
        padding-left: 10rem; }
        .principal .about .about-img .perfil img {
          width: 15rem;
          height: auto;
          border-radius: 5%; }
        .principal .about .about-img .perfil .logos ul {
          padding-top: 4rem;
          text-decoration: none; }
          .principal .about .about-img .perfil .logos ul li {
            list-style-type: none; }
            .principal .about .about-img .perfil .logos ul li img {
              margin: 1rem;
              width: 2.5rem;
              height: 2.5rem; }
  .principal .works {
    height: 58rem;
    background-color: #f7ecec; }

/* Home */
