$colores:(
    // fondoHeader: rgba(30, 30, 49, 0.782),
    // rgba(30, 30, 49, 0.947),
    fondoHeader: rgba(30, 30, 49, 0.947),
    fondoFooter: rgba(8, 12, 21, 0.912),
    fondoParrafo: rgba(92, 102, 110, 0.533),
    letras: #F2F3FD,
    letrasH4: #F2F3FD,
    hover: rgba(45, 73, 97, 0.694),
    tituloPortada: white,
    tituloHeader: #d7d8e7,
    tituloH2: silver,
    tituloH3: #dbddf6,
);