.header {
    display: flex;
    justify-content: space-between;
    position: fixed;    
    width: 100%;
    height: 5rem;
    top: 0;
    // right: 0; 
    background-color: map-get($colores, navbar);
    padding: 12px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.456); 
    transition: all 300ms;
    .logo {
        display: flex;
        align-items: center;
        -webkit-animation: scale-in-ver-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        img {
            height: 3.125rem;
            margin-right: 10px;
        }
    }
    .navbar {
      display: flex;
      align-items: center;
      ul {
        list-style-type: none;
        // margin: 0;
        // padding: 0;
        -webkit-animation: scale-in-ver-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        li {
            display: flex;
            display:inline-block;
            margin-left: 10px;
            a {
                font-family: "Bungee", sans-serif;
                font-style: normal;
                font-weight: 50px;
                color: white; 
                text-decoration: none;
                padding: 15px;
                text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
                transition: transform 0.3s ease;
            }
            &:hover {
                transform: scale(1.2); /* Agrandar el texto al pasar el puntero */
            }
        }  
    }
    
    }
    
    /** animacion en la barra de navegacion **/
    // &:hover {
    //     scale: 1;
    //     background: map-get($colores, hover);
    //     box-shadow: 0 0 10px rgb(65, 59, 59);
    // }
}
@-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  




/* aca se oculta el menu desplegable del desktop */
// .navegador #toggle, .navegador label {
//     display: none;

/* img del menu */
// .navegador label img {
//     width: 40px;
// }