.navegador {
    width: 100%;
    height: 8rem;
    top: 0;
    // right: 0; 
    // background-color: map-get($colores, navbar);
    background-image: url("../assets/img/background.png");
    padding: 12px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.456); 
    transition: all 300ms;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: flex;
        display:inline-block;
        margin-left: 10px;
        a {
            font-family: "Bungee", sans-serif;
            font-style: normal;
            font-weight: 50px;
            color: white; 
            text-decoration: none;
            padding: 15px;
            text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        }
    }
    /** animacion en la barra de navegacion **/
    // &:hover {
    //     scale: 1;
    //     background: map-get($colores, hover);
    //     box-shadow: 0 0 10px rgb(65, 59, 59);
    // }
}

/* aca se oculta el menu desplegable del desktop */
// .navegador #toggle, .navegador label {
//     display: none;

/* img del menu */
// .navegador label img {
//     width: 40px;
// }